                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content">
                              <header class="w3-container"> 
                                <span onclick="document.getElementById('id01').style.display='none'" 
                                class="w3-button w3-display-topright">&times;</span>
                                <h2 style="color: black;">Project Name 1</h2>
                              </header>
                              <div class="w3-container">
                                  <p class="modal-text">Description of Project:
                                  <span>Demo of pixel perfect pure CSS simple responsive card grid layout</span>
                                  <div class="modal-budget"><i></i><b>Budget :-</b> 10K - 20K</div>
                                  <div class="modal-expect"><i></i><b>Expected By :-</b> 18th Feb, 2020</div>
                                  <div class="modal-skill"><i></i><b>Skill :-</b> Web Designer</div>
                                  <div class="modal-proposal"><i></i><b>Proposals :-</b> 12</div>
                                  </p>
                              </div>
                              <footer class="w3-container">
                                <div class="modal-footer">
                                <button type="button" class="w3-button btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="w3-button btn btn-primary">Save changes</button>
                                </div>
                              </footer>
                            </div>
                        </div>